.button {
  width: 95px;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 6px;
}

.button:hover {
  cursor: pointer;
}

.shamrock {
  background-color: #2ee5ac;
}

.grey49 {
  background-color: #7d7d7d;
}
