.applayout {
  width: 100%;
  max-width: 1054px;
  height: 100%;
  min-height: 790px;
  margin: 0 auto;
  padding: 41px 48px 44px;
}

.dashboard {
  color: #222;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
